header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index:1;
    width: 97.5%;
    margin-top: -90px;
    margin-left: -8px;
}
header {
    background-color: #ff0000;
    color: #ffffff;
    padding: 0px 20px
}
header h1 a:hover{
    background-color: #ffff00e7;
    color: black
}